body {
	background-image: url(../images/background.jpg)
}
.hero {
	margin-top: 10px;
	display: inline-block;
	background-color: gray;
}
.hero img {
	height: 200px;
	width: 170px;
}

.hero p {
	text-align: center;
	color: white;
	font-family: 'Roboto Slab', serif;	
}

.hero p.health {
	color: red;
}

div#playerCard div.hero {
	position: relative;
	left: 50%;
}

#botCards button {
	display: none;
}

button {
	display: block;
}

h1 {
	color: white;
}
